{% extends 'base.html' %}


{% block title %}
  Product #{{ product.id }}
{% endblock %}

{% block body %}
  <h1>Products details</h1>
  <div>
    <h3>
      {{ product.name }}
      {% if product.is_new %}
        <span class="badge bg-secondary">New</span>
      {% endif %}
    </h3>
    Created at {{ product.created_at }}
  </div>
  {#{% if product.updated_at %}#}
  {#  <div>#}
  {#    Updated at: {{ product.updated_at }}#}
  {#  </div>#}
  {#{% endif %}#}
  <div>
    Updated at:
    {% if product.updated_at %}
      {{ product.updated_at }}
    {% else %}
      {{ product.created_at }}
    {% endif %}
  </div>
  <br>
  <div>
    <form method="post">
      {{ form.csrf_token }}
      {{ form.name.label(class="form-label") }}
      {{ form.name(value=product.name, class="form-control") }}
      {{ form.is_new.label(class="form-check-label") }}
      {{ form.is_new(class="form-check-input") }}
      <br>
      <button class="btn btn-primary" type="submit">Update</button>
    </form>
  </div>
{% if form.name.errors %}
  <div class="alert alert-danger">
      <ul class="errors">
      {% for error in form.name.errors %}
          <li>{{ error }}</li>
      {% endfor %}
      </ul>
  </div>
{% endif %}
  <div>
    <a href="{{ url_for("products_app.list") }}">
      Back to products list
    </a>
  </div>
{% endblock %}
