{% extends 'base.html' %}


{% block title %}
    Products list
{% endblock %}

{% block body %}
<h1>Products:</h1>
<div>
    <ul>
        {% for product in products %}
            <li>
                <a href="{{ url_for("products_app.details", product_id=product.id) }}">
                    {{ product.name -}}</a>
                {{ product.created_at }}
              {% if product.is_new %}
                <span class="badge bg-secondary">New</span>
              {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
<div>
    <a href="{{ url_for("products_app.add") }}">
        Add new product
    </a>
</div>
{% endblock %}
