<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>
        {% block title %}
        Base title
        {% endblock %}
    </title>
  </head>
  <body>
    <div class="container">

      <nav>
          <a href="{{ url_for('products_app.list') }}" style="font-size:24px;">
              Products</a>
      </nav>
        {% block body %}
        {% endblock %}
    </div>
  </body>
</html>
